[submodule "Lib_GripperAPI"]
	path = Lib_GripperAPI
	url = https://github.com/NORGREN-AUTOMATION/Lib_GripperAPI.git
	branch = main
[submodule "Lib_GripperAPI_Tests"]
	path = Lib_GripperAPI_Tests
	url = https://github.com/NORGREN-AUTOMATION/Lib_GripperAPI_Tests.git
	branch = main
[submodule "Lib_GripperFW"]
	path = Lib_GripperFW
	url = https://github.com/NORGREN-AUTOMATION/Lib_GripperFW.git
	branch = main
[submodule "Lib_GripperFW_Tests"]
	path = Lib_GripperFW_Tests
	url = https://github.com/NORGREN-AUTOMATION/Lib_GripperFW_Tests.git
	branch = main
[submodule "applicationPlatforms/Ubuntu"]
	path = applicationPlatforms/Ubuntu
	url = https://github.com/InMechaSol/Ubuntu.git
	branch = main
[submodule "applicationPlatforms/Teensy"]
	path = applicationPlatforms/Teensy
	url = https://github.com/InMechaSol/Teensy.git
	branch = main
[submodule "ccNOos"]
	path = ccNOos
	url = https://github.com/InMechaSol/ccNOos.git
	branch = main
[submodule "ccNOos_Tests"]
	path = ccNOos_Tests
	url = https://github.com/InMechaSol/ccNOos_Tests.git
	branch = main
[submodule "ccOS_Tests"]
	path = ccOS_Tests
	url = https://github.com/InMechaSol/ccOS_Tests.git
	branch = main
[submodule "ccOS"]
	path = ccOS
	url = https://github.com/InMechaSol/ccOS.git
	branch = main
[submodule "applicationPlatforms/WIN32"]
	path = applicationPlatforms/WIN32
	url = https://github.com/InMechaSol/WIN32.git
	branch = ccGripper
[submodule "dotNET"]
	path = dotNET
	url = https://github.com/InMechaSol/dotNET.git
	branch = main
[submodule "Qt"]
	path = Qt
	url = https://github.com/InMechaSol/Qt.git
	branch = main
